<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mulan.fengapi_backend.mapper.InterfaceRouteMapper">

    <resultMap id="BaseResultMap" type="com.mulan.fengapi_backend.model.entity.InterfaceRoute">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="routeId" column="routeId" jdbcType="VARCHAR"/>
            <result property="uri" column="uri" jdbcType="VARCHAR"/>
            <result property="routeOrder" column="routeOrder" jdbcType="TINYINT"/>
            <result property="predicates" column="predicates" jdbcType="VARCHAR"/>
            <result property="filters" column="filters" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,routeId,uri,
        routeOrder,predicates,filters,
        status,createTime,updateTime,
        isDelete
    </sql>
</mapper>
