server:
  port: 8666
logging:
  level:
    org:
      springframework:
        cloud:
          gateway: trace #开启日志
spring:
  redis:
    host: 192.168.8.100
    port: 6379
    database: 0
    password: mulan7146
  cloud:
    gateway:
      default-filters:
        - AddResponseHeader=source, mulan
      routes:
        - id: api_route
          uri: http://localhost:8110
          predicates:
            - Path=/api/**
        - id: api_route
          uri: http://localhost:8110
          predicates:
            - Path=/test/**
  main:
    web-application-type: reactive
fengapi:
  client:
    access-key: mulan
    secret-key: 123456
dubbo:
  application:
    name: dubbo-fengapi-gateway-consumer
  protocol:
    name: dubbo
    port: -1
  registry:
    address: nacos://localhost:8848